extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/shop.css")

block content
  section.section.form-section
    form(action= editing ? '/admin/edit-product' : '/admin/add-product', method='POST')
      label.label Product Name
      div.field
        div.control
          input(type='text', name='title', value=(editing ? `${product.title}` : '')).input#title
      label.label Image URL
      div.field
        div.control
          input(type='text', name='imageUrl' value=(editing ? `${product.imageUrl}` : '')).input#imageUrl
      label.label Price
      div.field
        div.control
          input(type='number', name='price' step="0.01" value=(editing ? `${product.price}` : '')).input#price
      label.label Description
      div.field
        div.control
          textarea(type='text', name='description').textarea#description #{editing ? product.description : ''}
      div.control
        if editing
          input(type="hidden" value=`${product.id}` name="productId")
        button(type='submit').button.is-primary #{editing ? `Update Product` : `Add Product`}
