extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/shop.css")

block content
  section.shop
    h1 Admin Products Control Panel
    if products.length > 0
      div.products
        each product in products
          div.card
            div.card-image
              figure.image.is-2by3
                img(src=product.imageUrl, alt="Book image")
            div.card-content
              p.title.is-4 Title: #{product.title}
              p.title.is-6 Price: #{product.price}
              p.title.is-6 Description: #{product.description}
            div.card-footer
              a(href=`/admin/edit-product/${product._id}?edit=true`).card-footer-item.button.is-warning Edit
              form(action="/admin/delete-product" method="POST")
                input(type="hidden" value=`${product._id}` name="productId")
                input(type="hidden" name="_csrf" value=csrfToken)
                button(type="submit").card-footer-item.button.is-danger Delete
    else
      h1 No Products

