extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/shop.css")

block content
  section.shop
    h1 My Products
    if products.length > 0
      div.products
        each product in products
          div.card
            div.card-image
              figure.image.is-2by3
                img(src=product.imageUrl, alt="Book image")
            div.card-content
              p.title.is-4 Title: #{product.title}
              p.title.is-6 Price: #{product.price}
              p.title.is-6 Description: #{product.description}
            div.card-footer
              a(href=`/products/${product._id}`).card-footer-item.button.is-info Details
              if isAuthenticated
                form(action="/cart" method="POST")
                  button(type="submit").button.is-success Add to Cart
                  input(type="hidden" name="productId" value=`${product._id}`)
    else
      h1 No Products
